<h1>Posts</h1>
<div class="row">
    <div id='posts' class='col-md-6'>
      <% @posts.each do |post| %>
      <div class="bs-callout bs-callout-primary">
        <%= link_to 'X', post_path(post), method: :delete, class: 'pull-right' %>
        <h5><b><%= post.title %></b></h5>
        <p><%= post.body %></p>
        <h6 class='pull-right'><b>Posted by:</b>&nbsp;<small><%= post.owner %></small></h6>
        <br/>
      </div>
      <% end %>
    </div>
</div>

<%= link_to 'New Post', new_post_path %>
